* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
    body {
        background-color: rgb(233, 233, 233);
    }

/* Inizio HEADER ---------------------------------------------------- */
header {
    height: 70px;
    background-color: white;
}
    .elem-header {
        margin-left: 30px;
        /* Definisce la grandezza della linea */
        line-height: 70px;
    }
        h1 {
            display: inline;
        }
        h1, #logo {
            /* Definisce il punto dove deve stare il testo */
            vertical-align: middle;
        }

/* Proprietà contenitore-max & NAV ---------------------------------- */
#contenitore-max, nav {
    /* height: 500px; */
    width: 70%;
    margin: auto;
    background-color: white;
}
#contenitore-max {
    border-radius: 1%;
    margin-bottom: 20px;
}

/* Inizio NAV ------------------------------------------------------- */
nav {
    margin-top: 50px;
    margin-bottom: 2px;
    height: 50px;
    border-radius: 4px;
}
    nav #buttons {
        margin-left: 40px;
        line-height: 50px;
    }
        .add-task, .add-section {
            vertical-align: middle;
            font-size: 10px;
            font-weight: 600;
            padding: 7px;
            border-radius: 5px;
        }
        .add-task {
            background-color: rgb(72, 169, 248);
            color: rgb(241, 240, 240);
            border: rgb(72, 169, 248) 2px solid;
        }
        .add-section {
            border: rgb(206, 206, 206) 2px solid;
            background-color: white;
            color: rgb(206, 206, 206);
        }

/* Inizio MAIN ------------------------------------------------------ */
main {
    padding: 30px 40px;
}
    .line {
        line-height: 30px;
    }
        .line span {
            vertical-align: middle;
        }
            .ok {
                border: rgb(56, 199, 115) 1px solid;
                border-radius: 50%;
                font-size: 8px;
                /* Questo padding è brutto */
                padding: 1px 3px;
                color: rgb(56, 199, 115);
                /* Questo margin left è brutto */
                margin: 0px 5px;
            }
            .nope {
                border: rgb(240, 6, 6) 1px solid;
                border-radius: 50%;
                font-size: 8px;
                /* Questo padding è brutto */
                padding: 1px 3px;
                color: rgb(240, 6, 6);
                /* Questo margin left è brutto */
                margin: 0px 5px;
            }
            .text {
                font-size: 15px;
            }
            .tipo {
                font-size: 9px;
                padding: 6px;
                border-radius: 10px;
                color: white;
                opacity: 0.8;
            }
                .tipo.blue {
                    background-color: rgb(72, 169, 248);
                }
                .tipo.viola {
                    background-color: rgb(214, 52, 214);
                }
                .tipo.verde-scuro {
                    background-color: rgb(9, 136, 73);
                }
                .tipo.orange {
                    background-color: orange;
                }
    main section {
        margin-bottom: 20px;
    }