* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    body {
        background-color: lightgrey;
    }

/* Inizio HEADER ---------------------------------------------------- */
header {
    height: 70px;
    background-color: white;
}
    .elem-header {
        margin-left: 20px;
        /* Definisce la grandezza della linea */
        line-height: 70px;
    }
        h1 {
            display: inline;
        }
        h1, #logo {
            /* Definisce il punto dove deve stare il testo */
            vertical-align: middle;
        }

/* Proprietà contenitore-max ---------------------------------------- */
#contenitore-max {
    height: 500px;
    width: 60%;
    margin: 50px auto;
    background-color: white;
    border-radius: 1%;
}